extends layout

block content
  h1 About Us
  p.lead
    | Social media really is the next frontier; a vast, valuable, almost untapped resource just waiting to be accessed. We are intrigued and excited by the massive potential inherent in the recently available methods of communicating. That’s why we launched early in 2010. The enormous popularity of sites like Facebook and Twitter means that basic marketing no longer needs to be limited to old standbys like fliers, radio ads, and commercials .
    br
    br
    | We are dedicated and committed to helping you increase your your Youtube views and likes, Twitter followers, Facebook fans or Pinterest repins.
    br
    br
    | Our methods are friendly for all the social websites we promote. No one has ever had his or her
account banned or even blocked.
    br
    br
    | We are committed to deliver what you pay for, and our support staff are always dedicated to help and support you all the way by email.