extends layout

block content
  h1.text-center INSTANTLY BOOST YOUR ONLINE PRESENCE
  h2.text-center 
    br
    div.row
      div.col-xs-6.col-md-2.youtube
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/youtube.png')
          div.caption
            h3 Youtube views
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal
      div.col-sm-3.col-md-2.twitter
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/twitter.png')
          div.caption
            h3 Twitter followers
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal
      div.col-sm-3.col-md-2.facebook
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/facebook.png')
          div.caption
            h3 Facebook likes
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal
      div.col-sm-3.col-md-2.instagram
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/instagram.png')
          div.caption
            h3 Instagram followers
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal
      div.col-sm-3.col-md-2.linkedin
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/linkedin.png')
          div.caption
            h3 Linkedin followers
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal
      div.col-sm-3.col-md-2.website
        div.thumbnail
          img(data-src='holder.js/300x200', alt='...', src='/img/website.png')
          div.caption
            h3 Website traffic
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.amount(type='button', data-toggle='dropdown', style='width:100%') Amount 
                  span.caret
                ul.dropdown-menu.amount
                  li
                    a 5000 ($25 USD)
                  li
                    a 10,000 ($40 USD)
                  li
                    a 30,000 ($100 USD)
                  li
                    a 60,000 ($150 USD)
                  li
                    a 150,000 ($250 USD)
                  li
                    a 300,000 ($400 USD)
            div.col-xlg-8
              div.input-group(style='width:100%')
                button.btn.btn-default.dropdown-toggle.payment(type='button', data-toggle='dropdown', style='width:100%') Payment  
                  span.caret
                ul.dropdown-menu.payment
                  li
                    a Credit Card
                  li
                    a Paypal
            div.stripe-payment(style='display: none')
              form(method='POST')
              input(type='hidden', name='_csrf', value=_csrf)
              script(
              src='https://checkout.stripe.com/checkout.js',
              class='stripe-button',
              data-key='pk_test_CrtfL1Zp9lGvyausOij6Nd0Y',
              data-image='/img/youtube.png',
              data-name='Youtube views',
              data-description='1000 views',
              data-amount='395')
            div.paypal-payment(style='display: none')
              if result
                if canceled
                  h3 Payment got canceled!
                if success
                  h3 Payment got executed successfully!
                a(href='/api/paypal')
                  button.btn.btn-primary New payment
              else
                div
                  a(href=approval_url)
                    button.btn.btn-primary Pay with Paypal