extends layout

block content
  h1 Terms of Service
  h2 Acceptance Of Terms and Conditions
  p.lead
    | By using the Website you are fully accepting the terms, conditions and disclaimers contained in this notice. If you do not accept these Terms and Conditions you must immediately move away and stop using the Website.
    br
  h2 Payment detail
  p.lead
    | We use PayPal and Credit Card for all the purchases on the website. Integration was done using Stripe. With Stripe, you will be able to make payments faster and safer without sharing financial details.
    br
  h2 Order and Purchases
  p.lead
    | There will be no refund offered once you have placed the order and the order delivered. We will only offer you refund in the case where the order was not delivered.
    br
  h2 Disclaimers and Limitation of Liability
  p.lead
    | The website is neither affiliated with nor endorsed by Twitter, Facebook, YouTube or Pinterest.
    br
    br
    | We make no warranty that the functionality of the Website will be uninterrupted due to errors or server issues and so we shall not be liable for any losses this may cause you.
  h2 Change of Use
  p.lead
    | We reserve the right to change these Terms and Conditions at any time, and your continued use of the Website following any changes shall be deemed to be your acceptance of such change.
    br
    br
    | For any further information please email us: support@vingosoftware.com